.navlast
{
  background-color:   	#ebfafa; <!-- cyan-->
}
.ham-drop
{
	display: inline-block;
}
.center 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 5%;
}
.space
{
	padding-top: 2.5%;
}

.social a
{
	color: #C5B358; (vegas gold)
	padding-right: 3%;
	padding-left: 3%;
}

.social
{
	padding-top: 2.5%;
}
.fa:hover 
{
  opacity: 0.7;
}
.end
{
	background: #412942 ;
}
.intro-text{
	color: #412942;
}

.event
{
	padding-left: 2.5%;
	padding-bottom: 2.5%;
	padding-right: 2.5%;
	padding-top: 2.5%;
}
.event-bottom
{
	width: 33.33%;
}
.head{
	font-family: 'Roboto', sans-serif;
}
.headin
{
	padding-top: 3.5%;
}
.dabba
{
	border: solid;
	border-color: #000000;
}
.eventbottom1
{
	width: 99.99%;
}
.sponsor-text
{
	color: #412942;
	font-style: 
}