.navlast
{
  background-color:  transparent;	; <!-- cyan-->

}
.ham-drop
{
	display: inline-block;
}
.center 
{
	display: block;
	margin-left: auto;
	margin-right: auto;        
	width: 50%;
	padding-top: 5%;
}
.space
{
	padding-top: 2.5%;
}

.social a
{
	color: #C5B358; (vegas gold)
	padding-right: 3%;
	padding-left: 3%;
}

.social
{
	padding-top: 2.5%;
}
.fa:hover 
{
  opacity: 0.7;
}
.end
{
	background: #412942 ;
}
.intro-text{
	color: #412942;
}

.event
{
	padding-left: 2.5%;
	padding-bottom: 2.5%;
	padding-right: 2.5%;
	padding-top: 2.5%;
}

.event-bottom
{
	width: 33.33%;
}
.head{
	font-family: 'Roboto', sans-serif;
}
.headin
{
	padding-top: 3.5%;
}

.eventbottom1
{
	width: 99.99%;
}

.inf
{
	bottom: 0;
	right: 0;
	position: relative;

}

.tilel
{
	opacity: 0.75;
}

.pit
{
	font-family: 'Playfair Display SC', serif;
}

.pit1
{
	font-family: 'Playfair Display SC', serif;
	font-size: 1.75rem;
}

@media only screen and (max-width: 600 px)
{
	img.navi
	{
		width: 25%;
	}
}
#gcal-button{
	padding: 20px;
	background: #1a73e8;
	color: #ffffff;
}
#reg-button
{
	background: #DC143C;
	color: #ffffff;
}
.nav-back
{
	padding-top: 2%;

}
.team-name{
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}
.team-desig{
	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;
}
.nav-back a
{
	text-decoration: none;
	color: #ffffff;
}